@model GigHub.ViewModels.FollowingsViewModel

@{
    ViewBag.Title = "Following";
}

<h1>@Model.Heading</h1>

<ul class="gigs voffset4">
    @foreach (var a in Model.Artists)
    {
        <li>
            <h3>@a.Name</h3>
        </li>
}
</ul>